@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #f1f1f1;
  background-color: hsl(var(--nextui-background));
}

input {
  background-color: #9a5bdd;
}

h1 {
  text-align: center;
  font-size: 5rem;
}

h2 {
  font-size: 1.5rem;
}

h6 {
  color: #eeafeb;
}

.songname,
.artist,
.theme {
  color: #9a5bdd;
}

.mainDiv {
  max-width: 1200px;
  padding-bottom: 40px;
}
